rayzen.com.br {
	reverse_proxy web:3000
}

api.rayzen.com.br {
	reverse_proxy api:3001
}

20.251.146.221.nip.io {
	reverse_proxy mcp-http:3102
}

:80 {
	handle /preview/* {
		uri strip_prefix /preview
		file_server {
			root /srv/previews
		}
	}
}
